@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
:root{
    --main-color:#F4C430;
    --accent-color:#D4A017;
    --text-color:#343A40;
    --bg-color:#fdfdfd;
}
nav{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 7%;
    position: sticky;
    z-index: 10;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
nav .navigator{
    display: flex;
    align-items: center;
}
nav .navigator a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}
nav .navigator a:hover{
    background-color: var(--accent-color);
}
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--text-color);
    align-self: center;
    z-index: 20;
}
.home{
    width: 100%;
    position: relative;
}
.home .img{
    background: url(../assets/bg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.home .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.home-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
}
.home-content .title{
    font-size: 60px;
    font-weight: 700;
}
.sambutan{
    padding: 50px 7%;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.sambutan img{
    width: 30%;
    margin-right: 50px;
    border-radius: 10px;
}
.sambutan-text .title{
    font-size: 25px;
    margin-bottom: 15px;
}
.sambutan-text .subtitle{
    font-size: 20px;
}
.visi{
    padding: 50px 7%;
    background-color: var(--main-color);
    text-align: center;
    color: var(--text-color);
}
.visi h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.visi p{
    font-size: 20px;
    font-weight: 500;
}
.misi{
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.misi-text{
    padding: 50px 7%;
}
.misi-text h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.misi-text ol{
    line-height: 25px;
    font-weight: 500;
}
.misi img{
    width: 40vw;
}
header{
    padding: 50px 0;
    text-align: center;
    background-color: var(--main-color);
    position: relative;
    color: var(--text-color);
}
header h1::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 80px;
    left: 50%;
    bottom: 30%;
    background: var(--bg-color);
    transform: translateX(-50%);
}
.akreditasi-content{
    padding: 50px 7%;
    display: flex;
    align-items: center;
}
.akreditasi-content img{
    width: 50%;
    margin-right: 40px;
}
.akreditasi-content .akreditasi-text h2{
    color: var(--text-color);
    font-size: 25px;
    margin-bottom: 10px;
}
.akreditasi-content .akreditasi-text p{
    color: var(--text-color);
    font-weight: 500;
}
.guru-content{
    padding: 50px 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.guru-content .guru-card{
    color: var(--text-color);
    text-align: center;
}
.guru-card img{
    height: 50vh;
    border-radius: 10px;
}
.organisasi-img{
    padding: 50px;
    text-align: center;
}
.organisasi-img img{
    height: 100vh;
    border: var(--text-color) 1px solid;
    border-radius: 10px;
}
footer{
    color: var(--text-color);
    background: var(--accent-color);
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
/* responsive tablet */
@media (max-width: 1100px) {
    nav{
        padding: 5px 3%;
    }
    .sambutan{
        padding: 50px 3%;
    }
    .visi{
        padding: 50px 3%;
    }
    .misi{
        display: block;
    }
    .misi img{
        width: 100%;
        height: auto;
    }
    .akreditasi-content{
        padding: 50px 3%;
        display: block;
        text-align: center;
    }
    .akreditasi-content img{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .guru-content{
        padding: 50px 3%;
        grid-template-columns: repeat(3, 1fr);
    }
    .guru-card img{
        height: 15vh;
    }
    .organisasi-img{
        padding: 30px;
    }
    .organisasi-img img{
        width: 100%;
        height: auto;
    }
}
/* responsive mobile */
@media (max-width: 500px) {
    nav {
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .navigator {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70%;
        right: 3%; 
        background-color: var(--accent-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-size: 20px;
        overflow: hidden;
        z-index: 15;
        /* transisi */
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .navigator.active {
        display: flex;
        max-height: 500px;
        opacity: 1;
        pointer-events: auto;
    }

    .navigator a {
        padding: 20px;
        width: 100%;
        text-align: left;
        white-space: nowrap;
    }

    .menu-toggle {
        display: block;
        background-color: var(--accent-color);
        border-radius: 5px;
        padding: 2px 5px;
        font-size: 25px;
    }
    .sambutan{
        display: block;
        text-align: center;
    }
    .sambutan img{
        width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .guru-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .guru-card{
        font-size: 12px;
    }
}